<div class="main-card mb-3 card">
    <div class="card-header d-flex justify-content-end align-items-center">
        <div class="d-flex align-items-center">
            <form [formGroup]="formSearch" class="input-group">
                <input type="text" class="form-control" formControlName="search" placeholder="Search">
            </form>
            <button class="btn btn-primary ms-3" data-bs-toggle="modal" data-bs-target="#crearUsuarioModal">
                <i class="bi bi-plus"></i>
            </button>
        </div>
    </div>
    <div class="table-responsive">
        <table class="align-middle mb-0 table table-borderless table-striped table-hover" *ngIf="personas | async as personas">
            <thead>
                <tr>
                    <th class="text-center">Id</th>
                    <th class="text-center">DNI</th>
                    <th class="text-center">First Name</th>
                    <th class="text-center">Last Name</th>
                    <th class="text-center"> - </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let persona of personas">
                    <td class="text-center text-muted">{{persona.personaId}}</td>
                    <td class="text-center">{{persona.dni}}</td>
                    <td class="text-center">{{persona.nombre}}</td>
                    <td class="text-center">{{persona.apellido}}</td>
                    <td class="text-center">
                        <button class="btn btn-danger btn-sm" (click)="deletePersona(persona.personaId)">
                            <i class="bi bi-trash"></i>
                        </button>
                        <!-- <button class="btn btn-secondary btn-sm" data-bs-toggle="modal" data-bs-target="#editarUsuarioModal">
                            <i class="bi bi-pencil"></i>
                        </button> -->
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="card-footer d-flex justify-content-center mt-3">
        <!-- <pagination-controls (pageChange)="onPageChange($event)" [maxSize]="5" class="pagination-sm" previousLabel="Anterior"
            nextLabel="Siguiente" screenReaderPaginationLabel="Pagination" screenReaderPageLabel="page" screenReaderCurrentLabel="You're on page">
        </pagination-controls> -->
        <nav aria-label="Pagination">
            <ul class="pagination">
              <li class="page-item" [class.disabled]="getPersonasRequest.pageNumber === 1">
                <a class="page-link" (click)="onPageChange(getPersonasRequest.pageNumber - 1)" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                </a>
              </li>
              <li class="page-item" *ngFor="let page of [1,2,3,4]" [class.active]="getPersonasRequest.pageNumber === page">
                <a class="page-link" (click)="onPageChange(page)">{{ page }}</a>
              </li>
              <li class="page-item" [class.disabled]="getPersonasRequest.pageNumber === 4">
                <a class="page-link" (click)="onPageChange(getPersonasRequest.pageNumber + 1)" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                </a>
              </li>
            </ul>
          </nav>

        <select class="form-select" [(ngModel)]="getPersonasRequest.pageSize" (change)="onChangePageSize()">
            <option *ngFor="let item of itemsPageOptions" [ngValue]="item.key">{{item.value}}</option>
        </select>
    </div>
</div>


<app-personas-create class="modal fade" id="crearUsuarioModal" tabindex="-1" aria-labelledby="crearUsuarioModalLabel" aria-hidden="true" (savePersonaEmitter)="onSavePersona($event)"></app-personas-create>

<!-- Modal Editar Usuario -->
<div class="modal fade" id="editarUsuarioModal" tabindex="-1" aria-labelledby="editarUsuarioModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editarUsuarioModalLabel">Editar Usuario</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- Contenido del formulario para editar un usuario -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary">Guardar cambios</button>
            </div>
        </div>
    </div>
</div>

